{% extends "layoutadm.njk" %}


{% block content %}
    
<form class="form-create" method="POST" action="/adm">
    
    <div class="createtop">
        <h3 class="h3-create">Cadastrar nova receita</h3>
        <button class="buttonsave" type="submit">Salvar receita</button>
    </div>
    


        <div class="card-create">  
                <div>
                   <h4>Nome da receita</h4> 
                    <input 
                        type="text"
                        name="title"
                        placeholder=" NOME DA RECEITA"
                        value="{{recipe.title}}"
                        >
                </div>
        </div>

        <div class="card-create">
                <div >
                    <h4>Imagem da receita</h4>
                    <input 
                        type="url"
                        name="image"
                        placeholder=" LINK DA FOTO DA RECEITA"
                        value="{{recipe.image}}"
                        >
                </div>
        </div>

        <div class="card-create">
                <div>
                    <h4>Chef</h4>
                    <select name="chef">
                        {% for chef in chefOptions %}
                        <option value="{{chef.id}}">{{chef.name}}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

    <div class="ingrediente-prep">
        <div class="card-create" id="ingredients">
            <div class="fc">Ingredientes</div>
            <div id="box1" class="ingredient">
                <input
                    type="text" 
                    name="ingredients[]" 
                    placeholder=" Exemplo: 2kg de farinha de trigo" 
                    />
             
            </div>
        </div>
        <div class="botao-instrucao">
            <button type="button" id="add-ingredient" class="add-ingredient">Adicionar novo ingrediente</button>
        </div>
    </div>

    <div class="ingrediente-prep">
        <div class="card-create" id="preparation">
            <div class="fc">Modo de preparo</div>
            <div id="box2" class="preparation">
                <input 
                    type="text" 
                    name="preparation[]" 
                    placeholder=" Exemplo: Primeiro coloque a agua para ferver" />
            </div>
        </div>
        <div class="botao-instrucao">
        <button type="button" id="add-prep" class="add-prep">Adicionar novo passo</button>   
        </div>
    </div>

    <div class="card-create"> 
        <div class="fc">Informações adicionais</div>
        <div>
            <textarea 
                name="information" 
                cols="30" 
                rows="10" 
                placeholder="Exemplo: Carne bovina é melhor utilizada se for cozida imediatamente antes...">{{recipe.information}}</textarea>
        </div>
        
    </div>

</form>


{% endblock %}