{% extends "layout.njk" %}

{% block header %}
    <div class="links">
        <a class="logo-index" href="/"><img src="assets/logo.png" alt=""></a>
        <div class="sobrereceita">
            <a class="sobre" href= "/sobre">Sobre</a>
            <a class="receita"href="/receitas">Receitas</a>
            <a class="chefs-usuario" href="/chefs">Chefs</a>
        </div>
    </div>
{% endblock %}

{% block mid %}
    <div class="textos-sobre">
    <h1>Sobre o FoodFy</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis sagittis malesuada. Aenean erat ipsum, 
        feugiat ac fringilla sed, pretium sed dui. Proin rhoncus, erat vel euismod cursus, felis tellus posuere libero, 
        lacinia a lacinia vel, vulputate id ellus. Etiam sit amet nunc accumsan, ornare ligula sit amet, congue lectus.
        luctus vitae. Sed eu orci non est lacinia euismod. Donec vitae massa velit. Curabitur urna dui, mollis id convallis eget, 
        consequat vel augue. Cras feugiat nisi sed mauris rhoncus, non ultrices velit hendrerit Vivamus laoreet ultrices augue, sed 
        auctor turpis interdum at. Vestibulum vel massa vel tellus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis sagittis malesuada. Aenean erat ipsum, 
            feugiat ac fringilla sed, pretium sed dui. Proin rhoncus, erat vel euismod cursus, felis tellus posuere libero, 
            lacinia a lacinia vel, vulputate id ellus. Etiam sit amet nunc accumsan, ornare ligula sit amet, congue lectus.
            nisi sed mauris rhoncus, non ultrices velit hendrerit Vivamus laoreet ultrices augue, sed 
            auctor turpis interdum at. Vestibulum vel massa vel tellus</p>

    <h2>Como tudo começou...</h2>
    <p>Vivamus laoreet ultrices augue, sed auctor turpis interdum at. Vestibulum vel massa vel tellus fermentum luctus ut eget elit. Etiam eu posuere lectus. Donec ut nunc venenatis, imperdiet risus et, condimentum lectus. Donec scelerisque, dui a ultrices aliquet, lectus erat maximus nisi, sit amet bibendum quam lectus id nibh. Duis consequat vel arcu eu bibendum. Donec vel augue fringilla, laoreet lacus vitae, vestibulum tortor. Nulla eu massa turpis. Curabitur mattis at purus id scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ullamcorper elit ut mi lacinia volutpat. Fusce vitae suscipit felis.

        Etiam imperdiet lorem ut nisl ultrices ornare. Maecenas ac ipsum pharetra, commodo mi sit amet, ultrices augue. Ut quis risus in enim aliquam cursus. Etiam at sollicitudin lectus. Nunc et erat tellus. Morbi tincidunt placerat urna, eu porta purus efficitur ac. Aliquam est turpis, tempus ac risus vitae, placerat pulvinar velit. Proin gravida malesuada tellus, vitae dignissim sem rutrum ut. Nullam vitae augue hendrerit justo luctus sagittis. Praesent facilisis ipsum ac tortor accumsan, vulputate porta ligula tincidunt. Proin tristique lacinia mattis. Quisque egestas nisl sit amet metus semper, nec condimentum ante accumsan. Vestibulum accumsan, libero vel vestibulum vestibulum, mauris velit sodales dui, at convallis orci magna ut massa. Praesent egestas nibh vel dolor volutpat, ut scelerisque risus semper.</p>

    <h3>Nossas receitas</h3>
    <p>Duis tortor nisl, pellentesque ac ex sed, elementum ultricies nulla. Nulla vel porta sem. Donec rutrum blandit velit, a condimentum libero bibendum sed. Fusce mattis neque vitae urna placerat hendrerit. Phasellus lacus tortor, iaculis in quam gravida, iaculis tincidunt lectus. Nulla pretium, odio ut condimentum rutrum, dolor sapien tempus erat, in pretium tellus nulla vitae ligula. Vestibulum nec faucibus nibh, eget iaculis velit. Sed velit lacus, vestibulum pretium dui vel, mattis condimentum nisl. Nam fringilla lacus tellus, a suscipit mi fermentum a. Sed facilisis congue nunc in posuere. Integer malesuada varius magna, quis condimentum magna auctor et. Vivamus sit amet arcu ac lorem lacinia porta et in urna. Sed pellentesque vitae lectus at bibendum.</p>
</div>
    
 {% endblock %}